#header {background-color: yellow;color: green ;font-size:20px; font-style: italic;}

#body {background-color: black;}

p {color: red;font-size: 18px;text-align: center;;}

h4{color: green;font-size: 20px;}

#footer {color: green;text-align: center; font-size: 18px}
